# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description=Service to set up the network bridge for the Android GVM
PartOf=qcrosvm.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/bin/sh -c "systemctl is-active sys-subsystem-net-devices-vmtap0.device"
ExecStart=/usr/local/bin/gvm_net_config.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy = multi-user.target
