Source: kiumd-headers
Section: devel
Priority: optional
Maintainer: leiwang <leiwan@qti.qualcomm.com>
Build-Depends: linux-headers-6.6.110 , debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: 

Package: kiumd-headers
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: install kiumd uapi headers
 This contains headers userspace API and DLKM conf files.

Package: kiumd-headers-dev
Architecture: arm64
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, kiumd-headers(= ${binary:Version})
Description: install kiumd uapi headers

