ACTION=="remove", GOTO="persistent_storage_ab_end"
SUBSYSTEM!="block", GOTO="persistent_storage_ab_end"
IMPORT{cmdline}="androidboot.slot_suffix"

LABEL="persistent_storage_ab_end"
