ACTION=="remove", GOTO="persistent_storage_ab_end"
SUBSYSTEM!="block", GOTO="persistent_storage_ab_end"
IMPORT{cmdline}="androidboot.slot_suffix"
ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{androidboot.slot_suffix}=="_a", ENV{ID_PART_ENTRY_NAME}=="dsp_a", SYMLINK+="disk/by-partlabel/dsp"
ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{androidboot.slot_suffix}=="_a", ENV{ID_PART_ENTRY_NAME}=="modem_a", SYMLINK+="disk/by-partlabel/modem"
ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{androidboot.slot_suffix}=="_a", ENV{ID_PART_ENTRY_NAME}=="la_boot_a", SYMLINK+="disk/by-partlabel/la_boot"
ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{androidboot.slot_suffix}=="_b", ENV{ID_PART_ENTRY_NAME}=="dsp_b", SYMLINK+="disk/by-partlabel/dsp"
ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{androidboot.slot_suffix}=="_b", ENV{ID_PART_ENTRY_NAME}=="modem_b", SYMLINK+="disk/by-partlabel/modem"
ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{androidboot.slot_suffix}=="_b", ENV{ID_PART_ENTRY_NAME}=="la_boot_b", SYMLINK+="disk/by-partlabel/la_boot"
LABEL="persistent_storage_ab_end"
