# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Mount bluetooth symlinked by disksymlink service
After=disksymlink.service
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target qcrosvm.service

[Service]
User=root
Group=root
SupplementaryGroups=disk
RemainAfterExit=yes
Type=oneshot

ExecStart=/bin/mount -t auto -o ro,defaults,nofail /dev/disk/by-partlabel/bluetooth /bluetooth

[Install]
WantedBy=multi-user.target
