# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Mount lv bootloader symlinked by disksymlink service
After=disksymlink.service
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target qcrosvm_lv.service

[Service]
User=root
Group=root
SupplementaryGroups=disk
RemainAfterExit=yes
Type=oneshot

ExecStartPre=/bin/mkdir -p /firmware/vm/boot/autoghgvmlv
ExecStart=/bin/mount -t ext4 -o ro,defaults /dev/disk/by-partlabel/lv_bootloader /firmware/vm/boot/autoghgvmlv

[Install]
WantedBy=multi-user.target