# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Mount LV GVM boot Images

[Mount]
What=/dev/disk/by-partlabel/lv_boot_a
Where=/firmware/lvgvm/boot
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
